
.eat{
    width: 100%;
    background-color: #425788;
        .container{
    
    align-items: center;
        
            a {
                color: black;
                font-family: "Playfair Display", serif;
                text-decoration: none;
                position: relative;
                &:hover {
                    color: pink;
                }
            }
    //         .pastry{
    
    //         }
    //         .breakfast{
    
    //         }
    // .cake{
    
    // }
    // .tost{
    
    // }
        }
    }