* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
    position: relative;

    &:hover {
        color: pink;
    }
}
// .aboutt{


//     width: 100px;
// height: ;
//     background-image: url(./img/menu_shape.webp);


//     background-repeat: no-repeat;


// }


.Header {
    font-size: 18px;
    color: white;
    font-weight: 600;

    &_top {
        background: #243a6e;

        &>.container {
            width: 70%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            .nav {
                display: flex;
                gap: 40px;
              
           a {
            color:#d4d3d3;
            text-decoration: none;
           
.telef{

    &:after {
        content: "telef";
        position: absolute;
        right: -20px;
        color: pink;

    }
}
                    &:after {
                        content: "|";
                        position: absolute;
                        right: -20px;
                        color: pink;

                    }
                }
            }
        }
    }

    &_nav {
        &>.container {
            width: 70%;
            margin: auto;
            align-items: center;
            display: flex;
            justify-content: space-between;
           
            .Bucker {
                background-color: #243a6e;
                height: 125px;
                width: 150px;
                text-align: center;
                border-radius: 0 0 55px;

            }

            .nav {

                .qwer {
                    display: flex;
                    gap: 40px;
                    color: black;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 20px;
                    .home{
                        color:white;
                        &::before{
                            content: '';
                                position: absolute;
                                width: 100px;
                                height: 100px;
                               
                                margin-left: 3px;
                                margin-top: 10px;
                                background-repeat: no-repeat;
                                left: -18px;
                                top: -25px;
                                z-index: -1;

                        }
                    }
                    .qwerty {
                        list-style: none;
                        position: relative;
                        color: #171616;

                        &:hover {
                            color: white;
                            transition: .3s;

                            &:after {
                                content: '';
                                position: absolute;
                                width: 100px;
                                height: 100px;
                                background-image: url(./img/menu_shape.webp);
                                margin-left: 3px;
                                margin-top: 10px;
                                background-repeat: no-repeat;
                                left: -18px;
                                top: -25px;
                                z-index: -1;

                            }

                        }

                    }
                }



            }
           
            .aboutt{
               position: relative;
               
               
            .qwerty {
                position: absolute;
                background-image: url(./img/menu_shape.webp);
                list-style: none;
                position: relative;
                color: #171616;

                &:hover {
                    color: white;
                    transition: .3s;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        
                        margin-left: 3px;
                        margin-top: 10px;
                        background-repeat: no-repeat;
                        left: -18px;
                        top: -25px;
                        z-index: -1;

                    }

                }

            }
        }
            .orange{
                text-decoration: none;
                gap: 40px;
                color: black;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 20px;
                &:hover{
                    color: white;
                            transition: .3s;
                &:after{
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    background-image: url(./img/menu_shape.webp);
                    margin-left: -6px;
                    margin-top: 10px;
                    background-repeat: no-repeat;
                    left: -18px;
                    top: -25px;
                    z-index: -1;
                }
            }
            }
            .orange4{
                text-decoration: none;
                gap: 40px;
                color: black;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 20px;
                &:hover{
                    color: white;
                            transition: .3s;
                &:after{
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    background-image: url(./img/menu_shape.webp);
                    margin-left: 3px;
                    margin-top: 10px;
                    background-repeat: no-repeat;
                    left: -18px;
                    top: -25px;
                    z-index: -1;
                }
            }
            }
.shop{

    &::before{
        content: '';
            position: absolute;
            width: 900px;
            height: 100px;
            margin-left: 3px;
            margin-top: 10px;
            background-repeat: no-repeat;
            left: -18px;
            top: -25px;
            z-index: -1;

    }
.qwerty{
display: flex;
 list-style: none;
 position: relative;
}
.drobmenu{


    .showw{
        &:hover {
            color: white;
            transition: .3s;

            &:after {
                content: '';
                position: absolute;
                width: 100px;
                height: 100px;
                background-image: url(./img/menu_shape.webp);
                margin-left: 3px;
                margin-top: 10px;
                background-repeat: no-repeat;
                left: -18px;
                top: -25px;
                z-index: -1;

            }

        }
.vtoroe{

}
    }
}


}
            .icons {
                color: black;
                font-size: 30px;
                display: flex;
                gap: 20px;
            }
           
                .dropdown{
                    .home{
                        display: flex;
                    gap: 40px;
                    color: black;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 20px;
                   
                    }
           
                 
                .dropmenu{
                    border-radius: 5px;
                    box-shadow: 0px 2px 2px 1px rgb(176, 168, 168);
                    width: 220px;
                    height: 100px;
                    background-color: #fff;
                    
                    color: black;      
                    position: absolute;
                    top: 10px;
                    
                  
                    color: #171616;
                    li{
                        list-style: none;
                    }
                
                
                }
                .fadeup{


                    &:hover{
                
                    }
                }
                .menue{
                    font-weight: 100;
                    font-style:italic;
                    margin-left: 10px;
                    font-size: 15px;
                    &:hover{
                        color: #fc7c7c;
                    }
                }
            }
           
              

            .sss{
                font-size: 20px;
            }
           .shopping{
            width: 100px;
            height: 500px;
            color: black;
           }

        }

    }

    &_average {

        &>.container2 {

            width: 100%;
            background-image: url(./img/breadcrumbs-bg.webp);
            height: 465px;
            padding: 20px 0;
            background-position: center;
            background-size: cover;

            ._nav1 {
                width: 1100px;
                font-family: serif;
                position: relative;
                margin: auto;

                @media (max-width: 1200px) {
                    width: 95%;
                }

                img {
                    width: 100%;
                    position: absolute;
                    z-index: -1;

                }



            }

            .text {
                font-size: 25px;
                color: black;

                font-family: "Playfair Display", serif;

                margin-top: 170px;

                .home {
                    margin-top: 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 18px;

                }

                .drob {
                    color: #fc7c7c;
                }
.among{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
                .about {
                    
                    color: #fc7c7c;
                }
            }

        }
    }



}
.star{
text-decoration: none;
color: #171616;
&:hover{
    color: #000;
}
&:after{
    color: #fc7c7c;
}
}
.container3 {
    width: 1100px;
    margin-top: 300px;
    margin: auto;

    @media (max-width: 1200px) {
        width: 95%;

    }

    .you {

        position: relative;
        width: 100%;
        margin: auto;

        .big {
            width: 100%;
            margin-top: 100px;
        }

        .logog {

            position: absolute;
            display: block;
            width: min-content;
            height: min-content;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            margin-top: 300px;

        }




    }

    .logo {

        background-repeat: no-repeat;

        background-position: left;
        list-style-type: none;

    }
}
.dolor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:wavy;
}
.obj {

    .container {
        width: 1100px;

        margin: auto;

        @media screen and (max-width:1200px) {
            width: 95%;
        }

        .texxt {
            margin-top: 70px;
            display: flex;
            gap: 20px;
            justify-content: space-around;

            .vis {
                color: black;
                font-family: "Playfair Display", serif;


            }

            li {
                list-style-type: none;

                color: black;
                margin-left: 00px;
                width: 700px;

            }

            .miss {
                color: black;
                font-family: "Playfair Display", serif;
                margin-left: 0px;
            }

            color: black;
            align-items: center;


        }

    }

}



.bloki {
    margin-top: 100px;

    .container {
        width: 1100px;

        border-radius: 10px;
        margin: auto;
        display: flex;
        -ms-overflow-style: none;
        overflow-x: scroll;
        scrollbar-width: none;


        @media (max-width:1200px) {
            width: 95%;
        }

        &::-webkit-scrollbar {
            display: none;
        }



        .block {

            background-color: #243a6e;
            padding: 70px 40px 40px 40px;
            border: solid .2px #425788;
            width: 220px;
            height: 250px;
            text-align: center;


            img {
                filter: grayscale(90%);

                &:hover {
                    filter: grayscale(0%);
                }
            }

        }
    }



}

.member {
    text-align: center;
    margin-top: 120px;
    font-size: 40px;
    font-family: "Playfair Display", serif;
}

.loremt {
    text-align: center;

    font-size: 20px;
}


.people {
    padding-bottom: 100px;

    margin: auto;

    margin-top: 60px;
    width: 1100px;
    display: flex;

    @media (max-width: 1200px) {
        width: 90%;
    }

    @media (max-width: 900px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

.kommand {
    background-image: url(./img/teamkom1.webp);
    width: 370px;
    height: 410px;
    margin-right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    padding: 20px;

    &:hover {
        cursor: pointer;
        transition: 0.5s;
        background: linear-gradient(#0009, #0009), url(./img/teamkom1.webp) center;
        color: #fff;
    }

    .kianna {

        color: inherit;
        font-size: 26px;
        font-family: "Playfair Display", serif;
        margin-top: 320px;


    }

    .mem {
        color: inherit;
        font-size: 20px;
        font-family: "Playfair Display", serif;

    }

}

.kommand2 {
    background-image: url(./img/teamkom2.webp);
    width: 370px;
    height: 410px;
    margin-right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    padding: 20px;

    &:hover {
        cursor: pointer;
        transition: 0.5s;
        background: linear-gradient(#0009, #0009), url(./img/teamkom2.webp) center;
        color: #fff;
    }

    .kianna {

        color: inherit;
        font-size: 26px;
        font-family: "Playfair Display", serif;
        margin-top: 320px;


    }

    .mem {
        color: inherit;
        font-size: 20px;
        font-family: "Playfair Display", serif;

    }

}

.kommand3 {
    background-image: url(./img/teamkom3.webp);
    width: 370px;
    height: 410px;
    margin-right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    padding: 20px;

    &:hover {
        cursor: pointer;
        transition: 0.5s;
        background: linear-gradient(#0009, #0009), url(./img/teamkom3.webp) center;
        color: #fff;
    }

    .kianna {

        color: inherit;
        font-size: 26px;
        font-family: "Playfair Display", serif;
        margin-top: 320px;


    }

    .mem {
        color: inherit;
        font-size: 20px;
        font-family: "Playfair Display", serif;

    }

}

.fony {
    background-image: url(./img/testimonial.webp);
    width: 100vw;

    .myswiper {
        .stars {
            margin-top: 130px;
            color: rgb(251, 180, 0);
            font-size: 20px;
            margin-left: 50px;
            margin-bottom: 10px;
        }

        .swiper-wrapper {
            background-color: transparent;
            height: 560px;

            .povar {
                width: 260px;
                margin-left: 150px;
                margin-top: 120px;
            }

            .text {
                padding-left: 50px;
            }

            .name {


                font-family: "Playfair Display", serif;
                font-size: 30px;

            }

            .profess {

                font-family: "Playfair Display", serif;
                font-size: 23px;

                margin-top: 7px;
            }

            .lorems {

                font-size: 24px;

            }
        }



    }
}

.eat {



    .container {
        width: 1100px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        font-size: 20px;

        
        a {
            color: black;

            font-family: "Playfair Display", serif;
            text-decoration: none;
            text-align: center;

            font-size: 22px;
            padding: auto;

            font-weight: bold;

            &:hover {
                color: pink;

            }
        }

        .center {
            display: flex;
            font-size: 20px;
            

        }

        .pastry {
            border-right: solid 1px rgb(219, 218, 218);
            

            .services1 {
                padding-bottom: 30px;
                position: relative;
                

                &::before {
                    content: "";
                    position: absolute;
                    right: -1px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    top: 100px;
                    width: 1px;
                    height: 30px;
                    background-color: red;

                }
            }
        }

        .p {
            margin-top: 10px;
            color: #171616;
            position: relative;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            

            .p {
                
                &::before {
                    content: "";
                    position: absolute;
                    
                    left: 0;
                    width: 1px;
                    height: 20px;
                    background-color: white;

                }
            }
        }

        .breakfast {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                right: -1px;
                top: 160px;
                width: 1px;
                height: 30px;
                background-color: red;

            }

            border-right: solid 1px rgb(219, 218, 218);

            .services2 {

                padding-bottom: 18px;

            }
        }

        .cake {
            position: relative;
            border-right: solid 1px rgb(219, 218, 218);

            .services3 {
                &::before {
                    content: "";
                    position: absolute;
                    right: -1px;
                    top: 100px;
                    width: 1px;
                    height: 30px;
                    background-color: red;

                }

                padding-bottom: 37px;
                width: 300px;
            }
        }

        .tost {


            .services4 {
                padding-bottom: 30px;
                width: 300px;
            }
        }
    }
}

.niz {
    background-color: #243a6e;
    width: 100%;


    .verh {
        position: relative;
        display: flex;
        color: #fff;
        padding: 60px 0;
        width: 100%;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            width: 1200px;
            height: 0.1px;
            background-color: rgb(219, 218, 218);

        }

        .shipping {
            display: flex;
            width: 400px;

            .ship {
                margin-right: 30px;
            }

            .texx {


                .free {
                    padding-top: 10px;
                    font-family: "Playfair Display", serif;

                    font-size: 22px;
                }

                .capped {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 500;
                    font-size: 15px;
                    padding-top: 10px;
                    font-weight: 500;

                }
            }

        }

        .payments {
            display: flex;
            width: 400px;

            .ship2 {
                margin-right: 30px;
            }

            .cars {
                padding-top: 10px;
                font-family: "Playfair Display", serif;
                font-size: 22px;
            }

            .month {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 500;
                padding-top: 10px;
                font-size: 15px;
            }

            .textt {}
        }

        .returns {
            display: flex;
            width: 400px;

            .ship3 {
                margin-right: 30px;
            }

            .texz {

                .easy {
                    padding-top: 10px;
                    font-family: "Playfair Display", serif;
                    font-size: 22px;
                }
            }

            .shop {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 500;
                padding-top: 10px;
                font-size: 15px;
            }
        }
    }
}

.infa {
    display: flex;
    flex-shrink: 1;
    margin-top: 70px;
    max-width: 1100px;
    margin: auto;
    padding: 40px 0;

    .contacts {
        padding: 0 20px;
        max-width: 600px;
        color: #fff;

        .conta {
            font-family: 23px;
            font-family: "Playfair Display", serif;
        }

        .you {
            max-width: 300px;
            margin-top: 30px;
            font-size: 20px;
        }

        .your {
            display: flex;
            margin-top: 30px;
            font-size: 20px;
            max-width: 300px;
           i{
            
            color: #fc7c7c;
            font-size: 26px;
            
            transform: scaleY(1.6) scaleX(1.6);
            
            padding-right: 20px;
            margin-top: 10px;
            
           }

        }

        .number {
            
            content: "|";
            right: -20px;
            color: rgb(211, 43, 71);
        }

        .email {
            color: #fc7c7c;

        }
    }


}

.celoe {


    .infar {
        max-width: 600px;
        display: flex;

        .infor {
            position: relative;
            color: #fff;
            font-family: "Playfair Display", serif;

         
        }

        .formation {
            position: relative;
            padding: 0 20px;

            .mation {
                font-size: 18px;
                margin-top: 30px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                display: flex;
                flex-direction: column;
                padding-right: 100px;
              



            }
            &::before {
                content: "";
                position: absolute;
                left: 0px;
                top: -70px;
                width: 1px;
                height: 300px;
                margin-top: 60px;
                background-color: gray;

            }
        }

        .acc {
            color: #fff;
            font-family: "Playfair Display", serif;
            display: flex;

        }

        .count {
            
            
            padding: 0 20px;
            font-size: 18px;
            margin-top: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            padding-right: 70px;

        }


    }

    .account {
        position: relative;
        flex-direction: column;

        &::before {
            content: "";
            position: absolute;
            right: -1px;
            top: -70px;
            width: 1px;
            height: 300px;
            margin-top: 60px;

            background-color: gray;

        }
    }


}

.newsletter {

    margin-left: 50px;
    color: #fff;
    .news {

        font-family: "Playfair Display", serif;
        ;

    }

    .have {
        width: 250px;
        margin-top: 30px;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .adress {
position: relative;
        margin-top: 30px;
        width: 250px;
        height: 40px;
        background-color: white;
        border-radius: 13px;

        .adre {
            margin-left: 20px;
            padding-top: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: grey;
            font-size: 16px;
            font-weight: 100;
            position: relative;

        }

        .strelka {
            position: absolute;
            width: 60px;
            height: 35px;
            background-color: #fc7c7c;
            margin-top: 2px;
            padding-top: 5px;
            
            margin-left: 186px;
            border-radius: 10px;
          &>.strellka{
            
            font-size: 23px;
            font-weight: 500;
            padding-left: 17px;
            padding-top: 15px;
            
            

            
            
          }
        }

        .rek {
            width: 30px;
            margin-left: 10px;
            
            color: #fff;
        }
    }

    .send {
        color: palevioletred;
    }


}

.paypel {
    margin-top: 30px;

    .payp {
        width: 180px;
    }
}

.konec {
    border-top: solid 1px gray;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    max-width: 1100px;
    margin: auto;
    padding: 40px;
    margin-top: 100px;
}