
.shop{

    &::before{
        content: '';
            position: absolute;
            width: 900px;
            height: 100px;
            margin-left: 3px;
            margin-top: 10px;
            background-repeat: no-repeat;
            left: -18px;
            top: -25px;
            z-index: -1;

    }
.qwerty{
display: flex;
 list-style: none;
 position: relative;
}
.drobmenu{


    .showw{
        &:hover {
            color: white;
            transition: .3s;

            &:after {
                content: '';
                position: absolute;
                width: 100px;
                height: 100px;
                background-image: url(./img/menu_shape.webp);
                margin-left: 3px;
                margin-top: 10px;
                background-repeat: no-repeat;
                left: -18px;
                top: -25px;
                z-index: -1;

            }

        }
.vtoroe{
display: flex;
}
    }
}


}