
    .swiper {
        width: 60vw;
        
      }

      #swiper-pagination {
        position: static;
        
      }
  
      .swiper-pagination-bullet {
        width: 1.6rem;
        height: 4px;
        border-radius: 0;
        transition: width .3s;
        
      }
    
      .swiper-pagination-bullet-active {
        width: 4rem;
        
      }
      img {
        // width: 100%;
        height: auto;
        vertical-align: bottom;
        background-repeat: no-repeat;
        .povar{
          height: 200px;
        }
      }
      
      * {
        box-sizing: border-box;
        

      }
.slideWrapper{
    display: flex;
    
}